*{
  box-sizing: border-box;
}

@font-face {
  font-family: 'Roboto';
  src: url('../../assets/fonts/Roboto_fonts/');
  src: url('../../assets/fonts/Roboto_fonts/?#iefix') format('embedded-opentype'),
      url('../../assets/fonts/Roboto_fonts/Roboto-Italic.woff2') format('woff2'),
      url('../../assets/fonts/Roboto_fonts/Roboto-Italic.woff') format('woff'),
      url('../../assets/fonts/Roboto_fonts/Roboto-Italic.svg#Roboto-Italic') format('svg');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../../assets/fonts/Roboto_fonts/Roboto-Regular.eot');
  src: url('../../assets/fonts/Roboto_fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
      url('../../assets/fonts/Roboto_fonts/Roboto-Regular.woff2') format('woff2'),
      url('../../assets/fonts/Roboto_fonts/Roboto-Regular.woff') format('woff'),
      url('../../assets/fonts/Roboto_fonts/Roboto-Regular.svg#Roboto-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


body{
  background-color:  orange;
  text-align: center;
  font-size: 20px;
  font-family: 'Roboto';
  margin: 1pxß;
  box-sizing: border-box;
}


  h1{
    margin: 1px;
    padding: 5px;
    background-color: yellow;
  }

  div{
    font-size: 20px;
  
  }

  ul{
    list-style: none;
    padding-left: 0;
    border: 10px;
    margin: 10px;
    margin-bottom: 10px;
    box-sizing: content-box;
  }

  li{
    background-image: url(../../assets/img/pianeta.png);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    padding-left: 25px;
    padding-bottom: 10px;
    box-sizing: content-box;
  }

  h3{
    margin: 1px;
    margin-top: 5px;
    padding: 5px;
    padding-top: 5px;
    box-sizing: content-box;
  }


  h4{
    margin: 1px;
    padding: 5px;
    box-sizing: content-box;
  }


#title{
  background-color: yellow;
  border: 5px ridge blue;
  padding: 4px;
  text-align: center;
  margin-bottom: 5px;
}

#card-container{
  background-color: rgba(217, 155, 102, 1);
  padding: 4px;
  text-align: justify;
  border: 5px ridge red;
}

#container{
  box-sizing: content-box;
}

.card-list{
  margin-bottom: 0;
  text-align: left;
  padding: 5px;
  font-weight: bolder;
  border: 3px ridge grey;
  box-sizing: content-box;
}

#card{
  width: 33%;
  display: inline-block;
  font-size: 0;
  
}

.card-intestazione{
  background-color: orangered;
  color: yellow;
  font-size: 20px;
  box-sizing: content-box;
  text-align: center;
  border: 5px solid black;
  margin: 5px;
  margin-bottom: 3px;
}

.card-body{
  background-color: lightblue;
  text-align: center;
  border: 5px ridge grey;
  font-size: 16px;
  box-sizing: content-box;
  padding: 5px;
  margin: 5px;
  margin-top: 0;
  margin-bottom: 0;
}


.card-footer{
  background-color: white;
  color: black;
  font-size: 14px;
  box-sizing: content-box;
  text-align: center;
  border: 5px solid grey;
  margin: 5px;
  margin-top: 3px;
}

.footer{
  background-color: white;
  border: 3px solid grey;
  font-size: 14px;
  box-sizing: border-box;
}

