*{
  box-sizing: border-box;
}
html{
  font-size: 16px;
}
@font-face {
  font-family: 'Roboto';
  src: url('../../assets/fonts/Roboto_fonts/');
  src: url('../../assets/fonts/Roboto_fonts/?#iefix') format('embedded-opentype'),
    url('../../assets/fonts/Roboto_fonts/Roboto-Italic.woff2') format('woff2'),
    url('../../assets/fonts/Roboto_fonts/Roboto-Italic.woff') format('woff'),
    url('../../assets/fonts/Roboto_fonts/Roboto-Italic.svg#Roboto-Italic') format('svg');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
body{
  background-color:  orange;
  text-align: center;
  font-size: 1rem;
  font-family: 'Roboto';
  margin: 1px;
  box-sizing: border-box;
}
h1{
  margin: 1px;
  padding: 5px;
  background-color: yellow;
}
h2{
  font-size: 2rem;
}
div{
  font-size: 1rem;
}
ul{
  padding-left: 0;
  padding: 10px;
  margin: 10px;
  list-style: none;
}
li{
  background-size: 20px 20px;
  padding-left: 25px;
  background-image: url(../../assets/img/pianeta.png);
}
h3{
  margin-top: 5px;
  padding: 5px;
  padding-top: 5px;
  margin: 1px;
  font-size: 1.6rem;
}
h4{
  margin: 1px;
  padding: 5px;
  font-weight: 700;
  font-size: 1.3rem;
}
  #title{
    background-color: yellow;
    border: 5px ridge blue;
    padding: 4px;
    text-align: center;
    margin-bottom: 5px;
  }
  #spiegazione{
    background-color: rgba(217, 155, 102, 1);
    padding: 4px;
    text-align: justify;
    border: 5px ridge red;
    margin: 10px;
  }
  .list-container{
    width: 33%;
    display: inline-block;
    gap: 20px;
    border: 3px ridge grey;
    margin-bottom: 5px;
    background-color: lightgreen;
    font-size: 1rem;
  }
  .card-list-left, .card-list-center, .card-list-right{
    flex: 1;
    max-width: 33%;
    font-size: 1rem;
  }
  .card-container{
    width: 33%;
    display: inline-block;
    gap: 15px;
  }
  .card{
    background-color: lightblue;
    border: 5px solid blue;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 1rem;
  }
  .card:nth-of-type(2n+1){
    margin-right: 10px;
    margin-left: 10px;
  }
  .card-footer{
    background-color: white;
    color: black;
    font-size: 14px;
    box-sizing: content-box;
    text-align: center;
    border: 5px solid grey;
    font-size: 0.7rem;
    cursor: pointer;
  }
  .obrund{
    width: 25%;
    height: 100px;
    background-color: darkblue;
    border-radius: 999px;
  }